<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <title>List candidates</title>
</head>

<body>

 
<%if(candidats.length > 0){%>
    <div class="w3-container w3-blue">
        <h2>List candidates</h2>
    </div>

    <table class="w3-table-all w3-hoverable">
        <thead>
            <tr class="w3-red">
                <th>NOM</th>
                <th>COGNOM</th>
                <th>EMAIL</th>
            </tr>
        </thead>

  
        <tbody>
            <%candidats.forEach(function(candidate){%>
                <tr class="w3-hover-blue">
                    <td><%=candidate.nom%></td>
                    <td><%=candidate.cognoms%></td>
                    <td><%=candidate.email%></td>
                </tr>
            <%})%>
        </tbody>
    </table>
<%}else{%>
    <h1>Encara no hi ha candidats</h1>
<%}%>




</body>

</html>