<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

    <form class="w3-container w3-card-4 w3-half" action="/add-new" method="POST">
        <h2>Cell Phone Entry</h2>
        <p>
            <label>Model</label>
            <input class="w3-input" name="model" type="text" required>
        </p>
        <p>
            <label>Price </label>
            <input class="w3-input" name="price" type="number" required>
        </p>
        <input class="w3-button w3-border" type="submit">
    </form>

</body>

</html>